In [1]:
import pandas as pd 
df = pd.read_csv("reviews.csv")
df.head()

,reviewerID,asin,reviewerName,overall,unixReviewTime,reviewTime,helpful,total,review,sentiment
0,A32T2H8150OJLU,B00000JBLH,ARH,5.0,1094169600,"09 3, 2004",3,4,bought first hp c served faithfully lost trave...,positive
1,A3MAFS04ZABRGO,B00000JBLH,"Let it Be ""Alan""",5.0,1197676800,"12 15, 2007",7,9,belated review feel obliged share view old wor...,positive
2,A1F1A0QQP2XVH5,B00000JBLH,Mark B,2.0,1293840000,"01 1, 2011",3,3,hp gx kicking twenty year hp year old still fl...,negative
3,A49R5DBXXQDE5,B00000JBLH,R. D Johnson,5.0,1145404800,"04 19, 2006",7,8,started finance stuff recently went looking go...,positive
4,A2XRMQA6PJ5ZJ8,B00000JBLH,Roger J. Buffington,5.0,1375574400,"08 4, 2013",0,0,simple calculation discounted cash flow one st...,positive

In [2]:
print(df.columns)
print(df.shape)

Index(['reviewerID', 'asin', 'reviewerName', 'overall', 'unixReviewTime',
       'reviewTime', 'helpful', 'total', 'review', 'sentiment'],
      dtype='object')
(53258, 10)

In [3]:
count = df.groupby("asin", as_index=False).count()

In [4]:
dfMerged = pd.merge(df, count, how='right', on=['asin'])
dfMerged.head()

,reviewerID_x,asin,reviewerName_x,overall_x,unixReviewTime_x,reviewTime_x,helpful_x,total_x,review_x,sentiment_x,reviewerID_y,reviewerName_y,overall_y,unixReviewTime_y,reviewTime_y,helpful_y,total_y,review_y,sentiment_y
0,A32T2H8150OJLU,B00000JBLH,ARH,5.0,1094169600,"09 3, 2004",3,4,bought first hp c served faithfully lost trave...,positive,8,8,8,8,8,8,8,8,8
1,A3MAFS04ZABRGO,B00000JBLH,"Let it Be ""Alan""",5.0,1197676800,"12 15, 2007",7,9,belated review feel obliged share view old wor...,positive,8,8,8,8,8,8,8,8,8
2,A1F1A0QQP2XVH5,B00000JBLH,Mark B,2.0,1293840000,"01 1, 2011",3,3,hp gx kicking twenty year hp year old still fl...,negative,8,8,8,8,8,8,8,8,8
3,A49R5DBXXQDE5,B00000JBLH,R. D Johnson,5.0,1145404800,"04 19, 2006",7,8,started finance stuff recently went looking go...,positive,8,8,8,8,8,8,8,8,8
4,A2XRMQA6PJ5ZJ8,B00000JBLH,Roger J. Buffington,5.0,1375574400,"08 4, 2013",0,0,simple calculation discounted cash flow one st...,positive,8,8,8,8,8,8,8,8,8

In [5]:
dfMerged["totalReviewers"] = dfMerged["reviewerID_y"]
dfMerged["overallScore"] = dfMerged["overall_x"]
dfMerged["review"] = dfMerged["review_x"]

dfCount = dfMerged[['asin','review','overallScore','totalReviewers']]

In [6]:
dfMerged = dfMerged.sort_values(by = "totalReviewers", ascending=False)
dfCount = dfMerged[dfMerged.totalReviewers >= 50]
dfCount

,reviewerID_x,asin,reviewerName_x,overall_x,unixReviewTime_x,reviewTime_x,helpful_x,total_x,review_x,sentiment_x,...,overall_y,unixReviewTime_y,reviewTime_y,helpful_y,total_y,review_y,sentiment_y,totalReviewers,overallScore,review
13657,A1YVO5V1SO18DZ,B0010T3QT2,"The Bee Bee ""BB""",4.0,1277251200,"06 23, 2010",0,0,face quality park reveal n seal envelope stand...,positive,...,311,311,311,311,311,311,311,311,4.0,face quality park reveal n seal envelope stand...
13585,A1Z7Y2GMAP9SRY,B0010T3QT2,"M. Thompson ""Dyson Diva""",5.0,1317686400,"10 4, 2011",0,0,rarely mail anything anymore like lick envelop...,positive,...,311,311,311,311,311,311,311,311,5.0,rarely mail anything anymore like lick envelop...
13561,ADEZOPMPKK146,B0010T3QT2,Meli,4.0,1279152000,"07 15, 2010",0,0,like park reveal n seal envelope say like fact...,positive,...,311,311,311,311,311,311,311,311,4.0,like park reveal n seal envelope say like fact...
13560,AXNJFYJRDK7CJ,B0010T3QT2,"Megan Bostic ""I like the sun, monkeys and I w...",5.0,1279670400,"07 21, 2010",0,0,envelope thick opaque see enclosed check folde...,positive,...,311,311,311,311,311,311,311,311,5.0,envelope thick opaque see enclosed check folde...
13559,AMYTL79JMGQ6D,B0010T3QT2,Mary Ann,5.0,1277164800,"06 22, 2010",1,2,standard sized business letter envelope flip c...,positive,...,311,311,311,311,311,311,311,311,5.0,standard sized business letter envelope flip c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9537,A2QWEEYO8QLIMI,B000GP5L3U,"B. Rackley ""Sierras Creative World""",5.0,1374624000,"07 24, 2013",0,0,several year ago hubby purchased trimmer adver...,positive,...,50,50,50,50,50,50,50,50,5.0,several year ago hubby purchased trimmer adver...
9538,A28YBL28P03P8V,B000GP5L3U,Bradley Nelson,5.0,1378425600,"09 6, 2013",0,0,really much different similar product good siz...,positive,...,50,50,50,50,50,50,50,50,5.0,really much different similar product good siz...
9539,A36PFPY4O3E1DV,B000GP5L3U,C. Fernandes,5.0,1375574400,"08 4, 2013",0,0,much paper trimmer one westcott extra make nic...,positive,...,50,50,50,50,50,50,50,50,5.0,much paper trimmer one westcott extra make nic...
9540,AKDKA28LFN20O,B000GP5L3U,"Cowgirl Model ""cowgirlmodel""",4.0,1255305600,"10 12, 2009",27,27,wanted give trimmer star easily best trimmer e...,positive,...,50,50,50,50,50,50,50,50,4.0,wanted give trimmer star easily best trimmer e...
9541,A3LDLV1GWQJLEQ,B000GP5L3U,"eric talerico ""Greenmanwest""",5.0,1376956800,"08 20, 2013",1,1,little trimmer sharp precise easy use blade ve...,positive,...,50,50,50,50,50,50,50,50,5.0,little trimmer sharp precise easy use blade ve...

#### Grouping all the summary Reviews by product ID

In [7]:
dfProductReview = df.groupby("asin", as_index=False).mean()
ProductReviewSummary = dfCount.groupby("asin")["review"].apply(list)
ProductReviewSummary = pd.DataFrame(ProductReviewSummary)
dfProductReview

            asin   overall  unixReviewTime   helpful     total
0     B00000JBLH  4.625000    1.208974e+09  4.125000  5.000000
1     B00000JBLU  4.888889    1.289894e+09  3.000000  3.444444
2     B00000JBNX  4.391304    1.333618e+09  3.478261  3.913043
3     B00000JBO8  4.100000    1.314645e+09  3.100000  5.300000
4     B00000JFNV  4.727273    1.301755e+09  0.750000  0.840909
...          ...       ...             ...       ...       ...
2415  B00K5UZP2S  4.714286    1.404592e+09  3.142857  3.285714
2416  B00KLLBEPI  4.600000    1.405382e+09  2.200000  3.600000
2417  B00KOO594O  4.400000    1.404265e+09  0.200000  0.266667
2418  B00KOO599O  4.466667    1.404858e+09  0.333333  0.866667
2419  B00KYA0RC2  4.750000    1.405134e+09  1.250000  1.375000

[2420 rows x 5 columns]

In [8]:
df3 = ProductReviewSummary
df3 = pd.merge(df3, dfProductReview, on="asin", how='inner')
df3 = df3[['asin','review','overall']]
df3

           asin                                             review   overall
0    B00004Z498  [received product vine program couple exit sig...  4.712121
1    B00004Z5QO  [usually love avery product must say adding pr...  4.718310
2    B00004Z5SM  [experimented number different brand label alw...  4.807692
3    B00004Z5SN  [overall good label complaint really count sin...  4.517857
4    B00004Z69W  [every try store brand usually fine still biz ...  4.726027
..          ...                                                ...       ...
286  B00G411O8G  [received pack swingline thermal laminating le...  4.503817
287  B00GLZZSN2  [today review arrow pt pneumatic staple gun jo...  4.620000
288  B00GMOOAIQ  [good quality sturdy little box like much easy...  4.520000
289  B00GO4GNPC  [kudos swingline coming innovative idea small ...  3.794118
290  B00JAKXFQW  [textured wraparound label good specialty use ...  4.586207

[291 rows x 3 columns]

In [9]:
df3['review'] = df3["review"].astype(str)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
from pandas import DataFrame 

countVector = CountVectorizer() 

transformedReviews = countVector.fit_transform(df3["review"]) 

dfReviews = DataFrame(transformedReviews.A, columns=countVector.get_feature_names())

### KNN to find similar products

In [11]:
from sklearn.neighbors import NearestNeighbors
from sklearn import neighbors
import numpy as np

X = np.array(dfReviews)
 # create train and test
tpercent = 0.90
tsize = int(np.floor(tpercent * len(dfReviews)))
dfReviews_train = X[:tsize]
dfReviews_test = X[tsize:]
#len of train and test
lentrain = len(dfReviews_train)
lentest = len(dfReviews_test)

In [12]:
neighbor = NearestNeighbors(n_neighbors=3,algorithm='ball_tree').fit(dfReviews_train)

In [16]:
for i in range(lentest):
    a = neighbor.kneighbors([dfReviews_test[i]])
    print(a)
    related_product_list = a[1]

    first_related_product = [item[0] for item in related_product_list]
    first_related_product = str(first_related_product).strip('[]')
    first_related_product = int(first_related_product)
    second_related_product = [item[1] for item in related_product_list]
    second_related_product = str(second_related_product).strip('[]')
    second_related_product = int(second_related_product)
    third_related_product = [item[2] for item in related_product_list]
    third_related_product = str(third_related_product).strip('[]')
    third_related_product = int(third_related_product)
    
    print ("Based on product reviews, for ", df3["asin"][lentrain + i]," average rating is ",df3["overall"][lentrain + i])
    print ("1 : ", df3["asin"][first_related_product])
    print ("2 :", df3["asin"][second_related_product])
    print ("3 :", df3["asin"][third_related_product])

    print ("-")

(array([[169.3339895 , 281.2312216 , 364.16479786]]), array([[173, 217, 249]], dtype=int64))
Based on product reviews, for  B00CRGP8B6  average rating is  4.203125
1 :  B004GEC2L6
2 : B007TRUWG4
3 : B00BMLQSNO
-
(array([[125.28766899, 154.65122049, 200.29727906]]), array([[256, 257, 176]], dtype=int64))
Based on product reviews, for  B00CWY2KFU  average rating is  4.428571428571429
1 :  B00COHAJXA
2 : B00COHALXI
3 : B004HY9IJE
-
(array([[276.45252757, 322.96903876, 362.49827586]]), array([[218, 222, 220]], dtype=int64))
Based on product reviews, for  B00CWZHA6S  average rating is  4.151515151515151
1 :  B007XPBW1G
2 : B0085IQ28I
3 : B0085IPYO6
-
(array([[211.896201  , 227.95174928, 228.59352572]]), array([[201,  34,  27]], dtype=int64))
Based on product reviews, for  B00D3EWHU6  average rating is  4.140845070422535
1 :  B00548SAP0
2 : B0006HX1HG
3 : B000087KUA
-
(array([[239.03137869, 246.19707553, 246.97773179]]), array([[175,  52, 112]], dtype=int64))
Based on product reviews, for  B00D46117S  average rating is  4.42
1 :  B004H41ID8
2 : B000V9A0Q4
3 : B002M838PC
-
(array([[285.03333138, 297.51302492, 306.3919059 ]]), array([[ 52, 128,  68]], dtype=int64))
Based on product reviews, for  B00D4613Y4  average rating is  4.774193548387097
1 :  B000V9A0Q4
2 : B00347A8GM
3 : B0019K3LI8
-
(array([[244.7651936 , 325.46121121, 328.13107137]]), array([[248, 128, 148]], dtype=int64))
Based on product reviews, for  B00D632TA2  average rating is  4.2592592592592595
1 :  B00BH9GNYU
2 : B00347A8GM
3 : B003KGBGO0
-
(array([[144.92756812, 195.69874808, 282.29417281]]), array([[248, 148,  81]], dtype=int64))
Based on product reviews, for  B00D7NYF62  average rating is  4.53030303030303
1 :  B00BH9GNYU
2 : B003KGBGO0
3 : B0025Z3J38
-
(array([[286.57634236, 311.2426706 , 318.26089926]]), array([[ 52,  68, 128]], dtype=int64))
Based on product reviews, for  B00D7NYJ2W  average rating is  4.884057971014493
1 :  B000V9A0Q4
2 : B0019K3LI8
3 : B00347A8GM
-
(array([[295.16605496, 299.19057472, 342.20900047]]), array([[ 64, 248, 148]], dtype=int64))
Based on product reviews, for  B00D7NYKRQ  average rating is  4.17
1 :  B0013CQ38W
2 : B00BH9GNYU
3 : B003KGBGO0
-
(array([[279.32597445, 303.86510165, 312.6291733 ]]), array([[141, 104, 203]], dtype=int64))
Based on product reviews, for  B00DUJ24M0  average rating is  4.5
1 :  B003BHLMMY
2 : B002M7W098
3 : B005GZ2174
-
(array([[285.57310798, 285.91082526, 288.26550262]]), array([[129, 172,  24]], dtype=int64))
Based on product reviews, for  B00E5JUEF8  average rating is  4.112903225806452
1 :  B00347A8JE
2 : B004GEC2IY
3 : B00006JNJ8
-
(array([[620.67221623, 644.57427811, 645.72981966]]), array([[230,  86, 159]], dtype=int64))
Based on product reviews, for  B00EO58Z5O  average rating is  4.016949152542373
1 :  B0091DPYBC
2 : B00290N0RO
3 : B003XDU8PI
-
(array([[231.64196511, 237.72673388, 270.55868125]]), array([[235, 252, 159]], dtype=int64))
Based on product reviews, for  B00EU9V588  average rating is  4.0
1 :  B0091Y07Y0
2 : B00CBAPEYE
3 : B003XDU8PI
-
(array([[219.98636321, 229.77162575, 242.66025633]]), array([[230, 159, 244]], dtype=int64))
Based on product reviews, for  B00EU9V5EM  average rating is  4.216666666666667
1 :  B0091DPYBC
2 : B003XDU8PI
3 : B00AVWKUJS
-
(array([[397.52735755, 417.77745272, 446.37092199]]), array([[199, 166, 185]], dtype=int64))
Based on product reviews, for  B00EVC942I  average rating is  4.344827586206897
1 :  B004ZDL1CO
2 : B004A912OU
3 : B004U9TEEA
-
(array([[195.63997547, 268.24429164, 288.35394917]]), array([[230, 244, 159]], dtype=int64))
Based on product reviews, for  B00FTG73SC  average rating is  4.372549019607843
1 :  B0091DPYBC
2 : B00AVWKUJS
3 : B003XDU8PI
-
(array([[249.12848091, 295.95945668, 305.79077815]]), array([[255,  52,  68]], dtype=int64))
Based on product reviews, for  B00FW6RRW6  average rating is  3.6610169491525424
1 :  B00CO8KZHY
2 : B000V9A0Q4
3 : B0019K3LI8
-
(array([[219.26011949, 224.7376248 , 227.94516885]]), array([[ 52, 128,  40]], dtype=int64))
Based on product reviews, for  B00FW6RS48  average rating is  4.018518518518518
1 :  B000V9A0Q4
2 : B00347A8GM
3 : B00092RJX0
-
(array([[137.03649149, 193.67756711, 263.60766301]]), array([[248, 148,  81]], dtype=int64))
Based on product reviews, for  B00FW6RY7E  average rating is  3.909090909090909
1 :  B00BH9GNYU
2 : B003KGBGO0
3 : B0025Z3J38
-
(array([[138.60735911, 190.4415921 , 286.26211765]]), array([[248, 148,  81]], dtype=int64))
Based on product reviews, for  B00FW6S3P6  average rating is  3.9384615384615387
1 :  B00BH9GNYU
2 : B003KGBGO0
3 : B0025Z3J38
-
(array([[143.3596875 , 189.2907816 , 201.79940535]]), array([[259, 260,  45]], dtype=int64))
Based on product reviews, for  B00FWR9NH2  average rating is  4.121495327102804
1 :  B00CPXDK2U
2 : B00CPXFEY2
3 : B000FH1J6C
-
(array([[181.43869488, 182.58970398, 183.45844216]]), array([[ 37,  29, 260]], dtype=int64))
Based on product reviews, for  B00FZ8ZRKU  average rating is  4.128205128205129
1 :  B0006SV7Q2
2 : B0000AQNWI
3 : B00CPXFEY2
-
(array([[122.57650672, 145.21707889, 176.53328298]]), array([[ 29, 258, 177]], dtype=int64))
Based on product reviews, for  B00FZ909DE  average rating is  3.9838709677419355
1 :  B0000AQNWI
2 : B00CPXCVIO
3 : B004HY9IOO
-
(array([[236.0360142 , 238.00420164, 244.83055365]]), array([[203, 123, 214]], dtype=int64))
Based on product reviews, for  B00G2UD2P2  average rating is  4.5
1 :  B005GZ2174
2 : B002XYO84U
3 : B0063C5NMY
-
(array([[289.60145027, 362.2637161 , 370.7330576 ]]), array([[ 74, 219, 254]], dtype=int64))
Based on product reviews, for  B00G411O8G  average rating is  4.5038167938931295
1 :  B001DPSUUI
2 : B008587M7I
3 : B00CLV8ZIU
-
(array([[281.79247683, 288.13191423, 294.88133206]]), array([[ 23, 113, 114]], dtype=int64))
Based on product reviews, for  B00GLZZSN2  average rating is  4.62
1 :  B00006IFKW
2 : B002M8CTFC
3 : B002M8EY82
-
(array([[297.13801507, 299.53964679, 345.84823261]]), array([[222, 218, 220]], dtype=int64))
Based on product reviews, for  B00GMOOAIQ  average rating is  4.52
1 :  B0085IQ28I
2 : B007XPBW1G
3 : B0085IPYO6
-
(array([[278.28582429, 304.51436748, 308.31477422]]), array([[225,  21,  33]], dtype=int64))
Based on product reviews, for  B00GO4GNPC  average rating is  3.7941176470588234
1 :  B008DQXNDE
2 : B00006IFKT
3 : B0006HUQ9M
-
(array([[158.05695176, 160.33090781, 160.67358215]]), array([[79,  9,  3]], dtype=int64))
Based on product reviews, for  B00JAKXFQW  average rating is  4.586206896551724
1 :  B001PMHURI
2 : B00006B8G0
3 : B00004Z5SN
-

In [14]:
neighbor

NearestNeighbors(algorithm='ball_tree', n_neighbors=3)